<h2>5 Day forcast</h2>
<div class="WeatherContainer" ng-app="Main" ng-controller="WeatherTiles">
    Enter City Here: <input type="text" ng-model="city"/>
    <button ng-click="setTiles()">Submit</button>
    <br/>
    <div class="WeatherTile col-xs-12 col-sm-4 col-lg-2">
        Date: <p class="title"></p>
        Degrees: <p class="temp"></p>
        <p class="desc"></p>
    </div>
    <div class="WeatherTile col-xs-12 col-sm-4 col-lg-2">
        Date: <p class="title"></p>
        Degrees:
        <p class="temp"></p>
        <p class="desc"></p>
    </div>
    <div class="WeatherTile col-xs-12 col-sm-4 col-lg-2">
        Date: <p class="title"></p>
        Degrees:
        <p class="temp"></p>
        <p class="desc"></p>
    </div>
    <div class="WeatherTile col-xs-12 col-sm-4 col-lg-2">
        Date: <p class="title"></p>
        Degrees:
        <p class="temp"></p>
        <p class="desc"></p>
    </div>
    <div class="WeatherTile col-xs-12 col-sm-4 col-lg-2">
        Date: <p class="title"></p>
        Degrees:
        <p class="temp"></p>
        <p class="desc"></p>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2"/>
</div>
